*
{
    box-sizing: border-box;
}
.container
{
    margin: 0;
    .header
    {
        padding-top: 40px;
        p
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
            text-align: center;
        }
    }
}
.menu
{
    display: flex;
   justify-content: center;
   .home , .sidebar
   {
       padding-left: 70px;
       p
       {
           font-size: 20px;
           font-style: italic;
       }
   }
}
.home
{
    p
    {
        width: 90px;
        height: 35px;
        color: white;
        border: solid 1px #D52349;
        background-color: #D52349;
        border-radius: 5px;
        position: relative;
        top: -10px;
       padding-top: 8px;
    }
}
.sidebar
{
    p
    {
        color: #5D5D5D;
    }
}
.sidebar p:hover
{
    border: solid 1px #F3F3F3;
        background-color: #F3F3F3;
        border-radius: 5px;
        color: #5D5D5D;
        width: 170px;
        height: 40px;
        margin-top: 10px;
       padding-bottom: 5px;
       text-align: center;
}
.image
{
    padding-top: 40px;
    img
    {
        width: 1500px;
    }
}
.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    h2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 27px;
    }
    p
    {
        color: #8E8C9E;
        font-size: 15px;
        margin-bottom: 0px;
    }
}
.settings
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
    .setting-img
    {
        background-color: #D52349;
        width: 150px;
        height: 110px;
        padding: 30px 40px 10px 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .triangle-down
{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 30px solid #D52349;
}
}
.lightning
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
     margin-right: 50px;
     background-color: white;
     width: 370px;
     height: 292px;
     background: white;
    box-shadow: 0 0 35px rgba(0,0,0,0.2);
    .lightning-img
    {
        background-color: black;
        width: 150px;
        height: 110px;
        padding: 30px 40px 10px 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .triangle-down
{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 30px solid black;
}
}
.star
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .star-img
    {
        background-color: #827A7C;
        width: 150px;
        height: 110px;
        padding: 30px 40px 10px 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .triangle-down
{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 30px solid #827A7C;
}
}
.buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    .red-button
    {
        background-color: #E43359;
        border-radius: 5px;
        width: 300px;
        height: 60px;
        padding-top: 10px;
       padding-top: 10px;
        a
        {
            color: white;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
           margin-left: 85px;
        }
    }
    .black-button
    {
        background-color: black;
        border-radius: 5px;
        width: 300px;
        height: 60px;
        margin-left: 20px;
        padding-top: 10px;
        a
        {
            color: white;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            margin-left: 85px;
        }
    }
}
hr
{
    border: none;
    color: #CFCFCF;
    background-color: #CFCFCF;
    
    margin: 0;
}
.portfolio-text
{
    width: 1500px;
    height: 3000px;
    display: flex;
    background-color: #F7F7F7;
    padding-left: 139px;
    margin-left: 0px;
    height: 80px;
        hr
        {
            margin-top: 90px;
            border: none;
            color: #CFCFCF;
            background-color: #CFCFCF;
            height: 1px;
            width: 465px;
            margin-right: 25px;
            margin-left: 25px;
        }
        h2
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 70px;
        }
}
.portfolio
{
   background-color: #F7F7F7;
   width: 1500px;
   height: 1300px;
   display: flex;
   justify-content: center;
.portfolio-img
{
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    h3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    a
    {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration:none;
    }
    .first-image
    {
       margin-right: 30px;
        .first-img
        {
            margin-top: 80px;

            width: 340px;
            height: 240px;
        }
    }
    .second-image
    {
        margin-right: 50px;
        .second-img
        {
            margin-top: 80px;
            width: 340px;
            height: 240px;
        }
    }
    .third-image
    {
        .third-img
        {
            margin-top: 80px;
            width: 340px;
            height: 240px;
        }
    }
    .fourth-image
    {
        .fourth-img
        {
            margin-top: 40px;
            width: 335px;
            height: 240px;
        }
    }
    .fifth-image
    {
        .fifth-img
        {
            margin-top: 40px;
            width: 335px;
            height: 240px;
        }
    }
    .sixth-image
    {
        .sixth-img
        {
            margin-top: 40px;
            width: 335px;
            height: 240px;
        }
    }
}
}
.text1
{
    padding-top: 1px;
    background-color: white;
    width: 340px;
    height: 330px;
    margin: 0;
    h3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 25px;
        padding-top: 10px;
    }
    p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #8E8C9E;
        padding-left: 25px;
        font-size: 14px;
    }
    a
    {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: black;
        border-radius: 5px;
        padding: 15px 25px 15px 25px;
        margin-left: 25px;
        position: relative;
        top: 40px;
    }
    hr
    {
        color: #CCCCCC;
        position: relative;
        top: 106px;
    }
}
.text2
{
    padding-top: 20px;
    background-color: white;
    width: 335px;
    height: 330px;
    h3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 25px;
        padding-top: 0px;
    }
    p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #8E8C9E;
        padding-left: 25px;
        font-size: 14px;
    }
    a
    {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: black;
        border-radius: 5px;
        padding: 15px 25px 15px 25px;
        margin-left: 25px;
        position: relative;
        top: 40px;
    }
    hr
    {
        color: #CCCCCC;
        position: relative;
        top: 397px;
    }
}
.blog-text
{
    width: 1500px;
    height: 100px;
    background-color: #F7F7F7;
    padding-left: 140px;
    padding-top: 20px;
    display: flex;
        hr
        {
            margin-top: 20px;
            border: none;
            color: #CFCFCF;
            background-color: #CFCFCF;
            height: 1px;
            width: 482px;
            margin-right: 20px;
            margin-left: 20px;
        }
        h2
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 5px;
            margin-left: 10px;
            padding-left: 0px;
        }
}
.blog-image
{
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    height: 730px;
    .blog1
    {

        .blog1-img
        {
            width: 550px;
            height: 260px;
            margin-right: 50px;
            padding-left: 30px;
            
        }
        .blog1-image
        {

            padding-top: 5px;
            background-color: white;
            width: 520px;
            height: 410px;
            margin-left: 30px;
        h3 
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 30px;
        }
        .post
        {
            font-style: italic;
            padding-left: 30px;
            position: relative;
            top: -5px;
        }
        p
        {
           
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #8E8C9E;
            font-size: 14px;
            padding-left: 30px;
            position: relative;
            top: 20px;
        }
        .continue-button
        {
            padding-left: 30px;
            padding-top: 60px;
            .red-btn
            {
                a 
                {

                
                text-decoration: none;
                color: white;
                background-color: #E53359;
                border-radius: 5px;
                width: 200px;
                height: 60px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 15px 20px 15px 50px;
            }
            }
            .black-btn
                {
                    a 
                    {                 
                    background-color: black;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    width: 150px;
                    height: 60px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 15px 20px 15px 50px;
                    margin-left: 220px;
                    position: relative;
                    top: -22px;
                }
                }
        }
        
    }
   
    }
    .blog2
    {
        .blog2-img
        {
            width: 550px;
            height: 260px;
            margin-right: 80px;
            
        }
        .blog2-image
        {

        background-color: white;
        width: 550px;
        height: 410px;
        padding-top: 5px;
        
        h3 
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 50px;
        }
        .post
        {
            font-style: italic;
            padding-left: 50px;
        }
        p
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #8E8C9E;
            font-size: 14px;
            padding-left: 50px;
        }
        .continue-button
        {
            padding-left: 30px;
            padding-top: 60px;
            .red-btn
            {
                
                a 
                {

                
                text-decoration: none;
                color: white;
                background-color: #E53359;
                border-radius: 5px;
                width: 200px;
                height: 60px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 15px 20px 15px 50px;
               
            }
            }
            .black-btn
                {
                    a 
                    {                 
                    background-color: black;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    width: 150px;
                    height: 60px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 15px 20px 15px 50px;
                    margin-left: 220px;
                    position: relative;
                    top: -22px;
                }
                }
        }
    }
    }
}

.footer
{
    background-color: #252122;
    width: 1500px;
    height: 560px;
    display: flex;
   
    h2 
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 25px;
        padding-top: 30px;
        padding-left: 170px;
    }
    .date
    {
    
       .jan
       {
           display: flex;
           .date-text
           {
               
            background-color: #D52349;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                
            width: 50px;
            height: 60px;
            margin-left: 170px;
            .triangle-right
            {
                border-top: 30px solid transparent;
                border-left: 20px solid #D52349;
                border-bottom:30px solid transparent;
                position: relative;
                top: -108px;
                margin-left: 50px;
            }
            p
            {
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-top: 3px;
                margin-left: 10px;
                
                
            }
            h3 
            {
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               position: relative;
               top: -30px;
               margin-left: 8px;
               font-size: 25px;
                
            }
        }
        .lorem-text
        {
            
            b 
            {
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                position: relative;
                top: 10px;
            }
            p 
            {
                color: #858484;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-left: 60px;
                position: relative;
                top: -20px;
            }
        }
           }
          
       }
    .about
    {
        h2 
        {
            color: white;
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 70px;
        }
        .black-img
        {
            padding-left: 70px;
            padding-top: 10px;
            
            width: 400px;
            height: 150px;
        }
        p 
        {
            color: #6A6869;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            padding-left: 70px;
        }
        span
        {
            color: white;
        }
        u 
        {
            color: #C1C0C0;
        }
        .find-btn
        {
            padding-left: 30px;
            margin-left: 70px;
            margin-right: 30px;
            margin-top: 40px;
            border-radius: 5px;
            height: 50px;
            width: 160px;
            
            background-color: #E53359;
            a
            {
                 color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            text-decoration: none;
           position: relative;
           top: 13px;
            
            }
           
        }
    }

}

.accaunts
{
    background-color: #252122;
    width: 1500px;
    height: 600px;
   padding-top: 10px;
   display: flex;
   
    .tempus
    {
        padding-left: 170px;
        h2
        {
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            
        }
        p 
        {
            color: #949292;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 20px;
            font-size: 15px;
        }
    }
    .ipsum
    {
        padding-left: 170px;
        h2
        {
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
           
        }
        p 
        {
            color: #949292;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 20px;
            font-size: 15px;
        }
    }
    .link
    {
        
        h2 
        {
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: relative;
            left: 50px;
            top: -6px;

        }
        .icon-img
        {
            display: flex;
            width: 50px;
            height: 50px;
            position: relative;
            left: 50px;
            .fb-img
            {
                padding-right: 10px;
            }
            .twitter-img
            {
                padding-right: 10px;
            }
            .dribble-img
            {
                padding-right: 10px;
            }
           .tumblr-img
           {
               padding-right: 10px;
           } 
           .linked-img
           {
               padding-right: 10px;
           }
        }
        .address
        {
            display: flex;
            .address-text1
            {
                color: white;
                   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                   position: relative;
            left: 50px;
            top: 20px;
            }
          .address-text2
          {
            color: #7C7B7B;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           position: relative;
           top: 20px;
           left: 100px;
          }

        }
    }
    .mail
    {
        display: flex;
        .mail-text1
            {
                color: white;
                   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                   position: relative;
            left: 50px;
            top: 20px;
            }
          .mail-text2
          {
            color: #7C7B7B;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           position: relative;
           top: 20px;
           left: 127px;
          }
        
    }

    .phone
    {
        .phone-text1
        {
            color: white;
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               position: relative;
        left: 50px;
        top: 20px;
        }
      .phone-text2
      {
        color: #7C7B7B;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       position: relative;
       top: -18px;
       left: 160px;
      }
    }
}









