.container
{
    width: 1000px;
    height: 1000px;
    h2
    {
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }
}
.banner-img
{
    width: 1500px;  
}

.container2
{
    display: flex;

    background-color: #F5F5F5;
    width: 1500px;
    height: 2000px;
    .description
{
    background-color: white;
    width: 300px;
    height: 300px;
    margin: auto;
    align-items: center;
    h2
    {
        font-size: 20px;
        color: black;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}
}