
body
{
    margin: auto;
}
.container
{
    width: 1000px;
    height: 1000px;
    position: relative;
    text-align: center;
    color: white;
    h2
    {
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }
    .centered
    {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       h2 
       {
           font-family: Arial, Helvetica, sans-serif;
           font-size: 70px;
           
       }
    }
}
.description
{
    position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    background-color: white;
    width: 900px;
    height: 400px;
    align-items: center;
    h2 
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        position: relative;
        top: -100px;
        color: black;
    }
}


.banner-img
{
    width: 1500px;  
    position: relative;

}
.container2
{
    display: flex;
    background-color: #F5F5F5;
    width: 1500px;
    height: 3000px;
    margin: 0;
    position: relative;
    top: -315px;
}

