

.site-logo
{
    height: 30px;

}
.custom-carousel
{
    img
    {
        height: 400px;
        object-fit: cover;
    }
}

.footer
{
    ul 
    {
        list-style: none;
        padding: 0;
    }
}